html, body, div, span, h1, h2, h3, h4, h5, h6, p {
	margin         : 0;
	padding        : 0;
	border         : 0;
	font-size      : 100%;
	font           : inherit;
	vertical-align : baseline;
}

body { 
	font             : helvetica, arial, sans-serif;
	color            : DarkSlateGray;
	background-color : CornSilk; 
	line-height      : 1;
}


html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }



div.section {
	padding-head   : 16px;
	padding-bottom :  8px;
}

h2 {
	font-size : 18px;
}

p {
	font-size    : 14px;
	padding-left : 16px;
	padding-top  : 4px;
}



/*
	The header
 */

#header {
	background-color    : CornSilk;
	border-style        : none;
	border-bottom-style : solid;
	border-color        : RoyalBlue;
	border-width        : 2px;
}

#header h1 {
	font-size  : 48px;
	text-align : center;
}



/*
 Layout of a page's content
 */

#content {
	margin-left    : 192px;
	margin-right   : 192px;
	clear          : both;
	padding-bottom : 48px;
	padding-top    : 16px;
}



/*
	The footer
	Use the 'sticky footer trick' from
	http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/
 */

#footer {
	text-align       : center;
	clear            : both;
	position         : relative;
	margin-top       : -42px;
	background-color : Cornsilk;
	border-style     : none;
	border-top-style : solid;
	border-color     : RoyalBlue;
	border-width     : 2px;
}

#footer h1 {
	font-size : 16px;
}

#footer p {
	font-size : 12px;
	padding   : 4px;
}
