{% extends "base.html" %}

{% block content %}
	<div class="single-column-layout-50">
		<div class="middle-column">
			<div class = "section">
				<h2>What is it ?</h2>
				<p>
				Linky is a website to share links between friends. Funny, amazing,
				revolting, or inspiring, share them all ! Just copy-paste a link, put a 
				comment, and there you go, all your friends will see it.
				</p>
			</div>

			<div class = "section">
				<h2>How it works ?</h2>
				<p>
				Register, for free, to get an account. Once logged in, you will see the
				most popular links. Add friends, and you will see their links too.
				Posting a link is easy. Just copy-past your link, put a comment, and
				submit it. There, your link is know visible.
				</p>
			</div>

			<div class = "menu">
				<ul>
					<li><a href="{{ url_for('login') }}">Login</a></li>
					<li><a href="{{ url_for('login') }}">Register</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
